{% extends 'base.html.twig' %}

{% block head_title %}
    Page index
{% endblock %}

{% block title %}
    Page index
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Slug</th>
                <th>HeadTitle</th>
                <th>Description</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td>{{ page.id }}</td>
                    <td>{{ page.title }}</td>
                    <td>{{ page.slug }}</td>
                    <td>{{ page.headTitle }}</td>
                    <td>{{ page.description }}</td>
                    <td>{{ page.content }}</td>
                    <td>
                        <a href="{{ path('app_admin_page_show', {'slug': page.slug}) }}">show</a>
                        <a href="{{ path('app_admin_page_edit', {'slug': page.slug}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_page_new') }}">Create new</a>
{% endblock %}
