{% extends 'base.html.twig' %}

{% block head_title %}
    Menu
{% endblock %}
{% block title %}
    Menu
{% endblock %}

{% block content %}

    <table class="table">
        <tbody>
            <tr>
                <th>Slug</th>
                <td>{{ menu.slug }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ menu.label }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ menu.url }}</td>
            </tr>
        </tbody>
    </table>

    {% if menu.haveParent %}
        <a class="btn btn-primary" href="{{ path('app_menu_show', {'id': menu.parent.id}) }}">parent</a>
        <a class="btn btn-primary" href="{{ path('app_menu_edit', {'id': menu.id}) }}">edit</a>
    {% else %}
        <a class="btn btn-primary disable" href="#">parent</a>
        <a class="btn btn-primary disable" href="#">edit</a>
    {% endif %}

    {% if menu.childs.count == 0 %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete
        </button>
    {% else %}
        <button type="button" class="btn btn-primary disable" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete
        </button>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th colspan="3">Order</th>
                <th>Label</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for child in menu.childs %}
                <tr>
                    <td>
                        {% if not loop.first %}
                            <a class="btn btn-primary btn-sm" href="{{ path('app_menu_up', {'id': child.id}) }}">
                                &lt;-</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ child.weight }}
                    </td>
                    <td>
                        {% if not loop.last %}
                            <a class="btn btn-primary btn-sm" href="{{ path('app_menu_down', {'id': child.id}) }}">-&gt;</a>
                        {% endif %}
                    </td>
                    <td>{{ child.label }}</td>
                    <td>{{ child.url }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="{{ path('app_menu_show', {'id': child.id}) }}">show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
        <tr>
            <td colspan="5"></td>
            <td>
                <a class="btn btn-primary btn-sm" href="{{ path('app_menu_new', {'id': menu.id}) }}">Add</a>
            </td>
        </tr>
    </tbody>
</table>
{% if menu.childs.count == 0 %}
    {{ include('menu/_delete_form.html.twig') }}
{% endif %}{% endblock %}
